build/
bin/
target/
.settings/
.classpath
.project
src/main/java/Main.java
.DS_Store
*.iml
*.ipr
*.iws
*.ids
*.orig
.idea/
tomcat
suggest/data
nohup.out
dump.rdb

out

goblinConfig.properties

.byke
src/main/resources/rebel.xml

elo7/cas.log
elo7/perfStats.log
elo7-core/release.properties

node_modules
target-grunt

all.min.js
all.lib.min.js

all.min.css
allPayment.min.js
allPayment.min.css

elo7/grunt/v2/
elo7/grunt/assets/
elo7/grunt/mobile/

##SASS
.sass-cache
dest
elo7/src/main/webapp/v2/assets/images/
elo7/src/main/webapp/v2/assets/css/sprite.css

## V3
elo7/src/main/webapp/v3/desktop/css/
elo7/src/main/webapp/v3/mobile/css/
elo7/src/main/webapp/v3/common/images/
elo7/src/main/webapp/v3/desktop/images/
elo7/src/main/webapp/v3/mobile/images/
elo7/src/main/webapp/v3/mobile/js/elo7.js
